<nav class="navbar navbar-inverse" role="navigation">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
        <a class="navbar-brand" href="/index">Brand</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
            <li class="active">
                <a href="/room">聊天室</a>
            </li>
            <li>
                <a href="/friend">好友</a>
            </li>
            <li>
                <a href="/index">关于</a>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li>
                <a href=""><span class="badge pull-right">16</span>消息</a>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    设置
                    <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                    <li>
                        <a href="#">关闭消息提醒</a>
                    </li>
                    <li>
                        <a href="#">联系管理员</a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="#">安全退出</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</nav>