<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>聊天室</title>
	<link rel="stylesheet" href="{{ static_url('bootstrap-3.3.5/css/bootstrap.css') }}">
    <link rel="stylesheet" href="{{ static_url('stylesheet/room-all.css') }}">
</head>
<body>
{% include 'base/nav.html' %}
<div class="center">
    <div>
        <div class="sidenav">
            <div class="sidebar-nav">
                <div class="nav-header">群成员72/184</div>
                <ul class="nav nav-list accordion-group">
                    <li class="boxes" style="display: list-item;;">
                        <div class="preview">标题栏1</div>
                    </li>
                    <li class="boxes" style="display: list-item;;">
                        <div class="preview">标题栏3</div>
                    </li>
                    <li class="boxes" style="display: list-item;;">
                        <div class="preview">标题栏2</div>
                    </li>
                    <li class="boxes" style="display: list-item;;">
                        <div class="preview">标题栏1</div>
                    </li>

                </ul>
            </div>
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Search..">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button">
                        <span class="glyphicon glyphicon-search"></span>
                    </button>
                </span>
            </div>
        </div>

        <div class="chat-box">
            <h3>聊天室</h3>
            <span class="label label-default">同学</span>
            <span class="label label-default">临时</span>
            <span class="label label-default">计算机</span>
            <span class="label label-default">最近</span>
            <div class="msg-box">
                <div class="msg-list">
                {% for item in msg %}
                    {% if item["belong"] == 1 %}
                    <span class="msg-right">{{ item["msg"] }}</span>
                    {% else %}
                    <span class="msg-left">{{ item["username"] }}: {{ item["msg"] }}</span>
                    {% end %}
                {% end %}
                </div>
            </div>
            <div style="height: 10px;"></div>
            <div class="form-group">
                {% raw xsrf_form_html() %}
                <textarea name="message" rows="5" onkeydown="on_return(event);"></textarea>
                <input type="button" name="submit" class="btn btn-primary" value="发送">
            </div>
        </div>
        <div class="col-sm-2">
            <div class="well">
                <p>公共聊天室</p>
            </div>
            <div class="well">
                <p>智慧软件工作室</p>
            </div>
        </div>
    </div>
</div>

</body>
<script type="text/javascript" src="{{ static_url('js/jquery-2.0.3.min.js') }}"></script>
<script type="text/javascript" src="{{ static_url('bootstrap-3.3.5/js/bootstrap.js') }}"></script>
<script language="javascript">
$(document).ready(function() {

    document.getElementsByName("message")[0].focus();
    $(".msg-list").animate({scrollTop:$(".msg-list")[0].scrollHeight + "px"}, 100);
    var updater = {
		poll: function(){
		    $.ajax({
	    		url: "/longpolling",
			    type: "POST",
			    dataType: "json",
			    data:{"_xsrf":$("input[name='_xsrf']").val()},
			    success: updater.onSuccess,
			    error: updater.onError});
			},
        onSuccess: function(data, dataStatus){
            try{
                if (data.msg != "") {
                    if(data.belong == '1'){
                        $(".msg-list").append("<span class='msg-right'>" + data.msg + "</span>")

                	}else {
                        $(".msg-list").append("<span class='msg-left'>" + data.username + ":" + data.msg + "</span>")
                    }
                    $(".msg-list").animate({scrollTop:$(".msg-list")[0].scrollHeight + "px"}, 100);
                }
            }
            catch(e){
            	updater.onError(e);
            	return;
            }
            updater.poll();
        },
        onError: function(e){
            if (e.message)
            	console.log("Poll Error" + e.message);
            else
            	console.log(e);
        	}
      	};

    updater.poll();

	$("input[name='submit']").click(function () {
		$.ajax({
			url:"/sendMsg",
			type:"post",
			dataType:"json",
			data:{
				"message":$("textarea[name='message']").val(),
				"_xsrf":$("input[name='_xsrf']").val()
			},
			success:function(data){
				document.getElementsByName("message")[0].value = ""
			},
            error:function (data) {
                console.log(data)
            }
		})
	})
})
</script>
<script>
	//点击
	function on_return(evt){
		evt = evt ? evt : (window.event ? window.event : null);
		if(evt.keyCode == 13){
			if (document.all('submit')!=null){
				document.all('submit').click();
		    }
	 	}
	 }
</script>
</html>