<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>首页</title>
	<link rel="stylesheet" href="{{ static_url('bootstrap-3.3.5/css/bootstrap.css') }}">
    <style>
        .tab-pane {display: none}
        .active {display: block}
    </style>
</head>
<body>
{% include 'base/nav.html' %}

<div class="container">

    <div class="box box-element ui-draggable" style="display: block;">
        <div class="view clearfix">
            <blockquote contenteditable="true">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.
                </p>
                <small>
                    Someone famous
                    <cite title="Source Title">Source Title</cite>
                </small>
            </blockquote>
        </div>
    </div>
    <div class="row-fluid">
        <ul class="nav nav-tabs">
            <li class="active"><a href="#allRoom" data-toggle="tab">所有房间</a></li>
            <li class=""><a href="#mineRoom" data-toggle="tab">我的房间</a></li>
            <li class=""><a href="#latelyRoom" data-toggle="tab">最近加入</a></li>
        </ul>
        <div class="tab-pane allroom active" id="allRoom">
            <table class="table">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>房间名</th>
                        <th>房主</th>
                        <th>创建时间</th>
                        <th>人数</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                {% for room in allRoom %}
                    <tr>
                        <td>{{ room.id }}</td>
                        <td>{{ room.roomname }}</td>
                        <td>{{ room.username }}</td>
                        <td>{{ room.created_time }}</td>
                        <td>12</td>
                        <td><a href="/chatroom/{{ room.id }}">立即加入</a></td>
                    </tr>
                {% end %}
                </tbody>
            </table>
        </div>
        <div class="tab-pane allroom" id="mineRoom">
            <table class="table">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>房间名</th>
                        <th>房主</th>
                        <th>创建时间</th>
                        <th>人数</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for room in mineRoom %}
                    <tr>
                        <td>{{ room.id }}</td>
                        <td>{{ room.roomname }}</td>
                        <td>{{ room.username }}</td>
                        <td>{{ room.created_time }}</td>
                        <td>12</td>
                        <td><a href="/chatroom/{{ room.id }}">立即加入</a></td>
                    </tr>
                {% end %}
                </tbody>
            </table>
        </div>
    </div>

</div>
</body>
<script type="text/javascript" src="{{ static_url('js/jquery-2.0.3.min.js') }}"></script>
<script type="text/javascript" src="{{ static_url('bootstrap-3.3.5/js/bootstrap.js') }}"></script>
</html>