<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>首页</title>
	<link rel="stylesheet" href="{{ static_url('bootstrap-3.3.5/css/bootstrap.css') }}">
    <style>
        .tab-pane {display: none}
        .active {display: block}
    </style>
</head>
<body>
{% include 'base/nav.html' %}

<div class="container">

    <div class="box box-element ui-draggable" style="display: block;">
        <div class="view clearfix">
            <blockquote contenteditable="true">
                <p>
                    除了前途，我们这波人从来没有过任何其他东西。
                </p>
                <small>
                    《北京，北京》
{#                    <cite title="Source Title">Source Title</cite>#}
                </small>
            </blockquote>
        </div>
    </div>
    <div class="row-fluid">
        <ul class="nav nav-tabs">
            <li class="active"><a href="#allRoom" data-toggle="tab">所有房间</a></li>
            <li class=""><a href="#mineRoom" data-toggle="tab">我的房间</a></li>
            <li class=""><a href="#latelyRoom" data-toggle="tab">最近加入</a></li>
        </ul>
        <div class="tab-pane allroom active" id="allRoom">
            <table class="table">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>房间名</th>
                        <th>房主</th>
                        <th>创建时间</th>
                        <th>人数</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody class="allRoom">
                {% for room in allRoom %}
                    <tr>
                        <td>{{ room.id }}</td>
                        <td>{{ room.roomname }}</td>
                        <td>{{ room.username }}</td>
                        <td>{{ room.created_time }}</td>
                        <td>{{ room.id }} / 100 </td>
                        <td><a href="/chatroom/{{ room.id }}">立即加入</a></td>
                    </tr>
                {% end %}
                </tbody>
            </table>
        </div>
        <div class="tab-pane allroom" id="mineRoom">
            <table class="table">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>房间名</th>
                        <th>房主</th>
                        <th>创建时间</th>
                        <th>人数</th>
                        <th><a href="#create-chatroom" data-toggle="modal">创建聊天室</a></th>
                    </tr>
                </thead>
                <tbody class="mineRoom">
                    {% for room in mineRoom %}
                    <tr>
                        <td>{{ room.id }}</td>
                        <td>{{ room.roomname }}</td>
                        <td>{{ room.username }}</td>
                        <td>{{ room.created_time }}</td>
                        <td>2</td>
                        <td><a href="/chatroom/{{ room.id }}">立即加入</a></td>
                    </tr>
                {% end %}
                </tbody>
            </table>
        </div>
        <div class="tab-pane allroom" id="latelyRoom">
            <table class="table">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>房间名</th>
                        <th>房主</th>
                        <th>创建时间</th>
                        <th>人数</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody class="latelyRoom">
                    {% for room in latelyRoom %}
                    <tr>
                        <td>{{ room.id }}</td>
                        <td>{{ room.roomname }}</td>
                        <td>{{ room.username }}</td>
                        <td>{{ room.created_time }}</td>
                        <td>2</td>
                        <td><a href="/chatroom/{{ room.id }}">立即加入</a></td>
                    </tr>
                {% end %}
                </tbody>
            </table>
        </div>
    </div>

    <div class="modal fade" id="create-chatroom" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title">聊天室创建</h4>
                </div>
                <div class="modal-body">
                    <div class="form-horizontal" role="form">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">名称</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" name="roomname" placeholder="帅气的名称"></div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">描述</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" placeholder="吸引你的朋友" name="description"></div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">这是密码</label>
                            <div class="col-sm-10">
                                <input type="password" name="password" class="form-control" placeholder="可以把密码告诉你的朋友哦"></div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">标签</label>
                            <div class="col-sm-10">
                                <label style="display: inline-table;margin: 0 20px;"><input type="checkbox" value="0">IT</label>
                                <label style="display: inline-table;margin: 0 20px;"><input type="checkbox" value="1">同事</label>
                                <label style="display: inline-table;margin: 0 20px;"><input type="checkbox" value="2">校友</label>
                                <label style="display: inline-table;margin: 0 20px;"><input type="checkbox" value="3">工作室</label>
                            </div>
                        </div>
                        {% raw xsrf_form_html() %}
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default close-box" data-dismiss="modal" onclick="resetForm()">关闭</button>
                    <input type="button" name="submit" class="btn btn-primary" value="创建" />
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script type="text/javascript" src="{{ static_url('js/jquery-2.0.3.min.js') }}"></script>
<script type="text/javascript" src="{{ static_url('bootstrap-3.3.5/js/bootstrap.js') }}"></script>
<script type="text/javascript" src="{{ static_url('js/room.js') }}"></script>
</html>