<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登录界面</title>
    <link rel="stylesheet" href="{{ static_url('bootstrap-3.3.5/css/bootstrap.css') }}">
    <style>
        .login-box { width: 340px; margin: auto}
    </style>
</head>
<body>
<form class="form-horizontal login-box" role="form" method="post" action="login">
    {% raw xsrf_form_html() %}
    <div class="form-group">
        <div class="col-sm-10">
        	<label for="name">用户名</label>
            <input type="text" class="form-control" name="name" placeholder=""/>
        </div>
        <div class="col-sm-10">
        	<label for="password">密码</label>
            <input type="password" class="form-control" name="password"/>
        </div>
        <div class="col-sm-10" style="margin-top: 10px;">
            <button type="submit" class="btn btn-default">登录</button>
            <a class="btn btn-default" onclick="registered()">注册</a>
        </div>
    </div>
</form>
<script language="javascript">
    document.getElementsByName("name")[0].focus();

    function registered() {
        username = document.getElementsByName("name")[0].value;
        password = document.getElementsByName("password")[0].value;
        if(username == "" || password == ""){
            alert("必填项不能为空");
            return false;
        }else {
            window.location.href="/registered?username=" + username + "&password=" + password;
            return true;
        }
    }
</script>
</body>
</html>